@model PartnerManagmentApp.Models.PartnerModel
@{
    ViewBag.Title = "_Details";
}


<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Details</h4>
    </div>
    <div class="modal-body">
        <table class="tablemodel">
            <tr>
                <td class="col-md-2">
                    FullName:
                </td>
                <td>
                    @Html.DisplayFor(Model => Model.FullName)
                </td>
            </tr>
            <tr>
                <td class="col-md-2">
                    Address:
                </td>
                <td>
                    @Html.DisplayFor(Model => Model.Address)
                </td>
            </tr>
            <tr>
                <td class="col-md-2">
                    PartnerNumber:
                </td>
                <td>
                    @Html.DisplayFor(Model => Model.PartnerNumber)
                </td>
            </tr>
            <tr>
                <td class="col-md-2">
                    CreatedBy:
                </td>
                <td>
                    @Html.DisplayFor(Model => Model.CreateByUser)
                </td>
            </tr>
            <tr>
                <td class="col-md-2">
                    External Code:
                </td>
                <td>
                    @Html.DisplayFor(Model => Model.ExternalCode)
                </td>
            </tr>

        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>

