@model PartnerManagmentApp.Models.PartnerViewModel

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<h2>Index</h2>
<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
 </div>
    <a class="popup btn btn-primary" href="/Home/AddOrEdit" style="margin-bottom:20px; margin-top:20px;">Dodaj partnera</a>
    <table class="table table-hover">
        <tr>
            <th scope="col">
                FullName
            </th>
            <th scope="col">
                PartnerNumber
            </th>
            <th scope="col">
                CroatianPIN
            </th>
            <th scope="col">
                PartnerTypeId
            </th>
            <th scope="col">
                CreatedAtUtc
            </th>
            <th scope="col">
                IsForeign
            </th>
            <th scope="col">
                Gender
            </th>
            <th></th>
        </tr>

        @foreach (var item in ViewBag.Partners)
        {
            var className = "";
            if (@ViewBag.PartnerId != null && @ViewBag.PartnerId == item.PartnerId)
            {
                className = "alert-info";
            }
            <tr class="@className">
                <td>
                    @item.FullName
                </td>
                <td>
                    @item.PartnerNumber
                </td>
                <td>
                    @item.CroatianPIN
                </td>
                <td>
                    @item.PartnerTypeId
                </td>
                <td>
                    @item.CreatedAtUtc
                </td>
                <td>
                    @item.IsForeign
                </td>
                <td>
                    @item.Gender
                </td>
                <td>
                    <a href="javascript:void(0)" class="btn btn-primary anchorDetail" data-id="@item.PartnerId">Detalji</a>
                    @Html.ActionLink("Izbriši", "Delete", new { id = item.PartnerId }, new { @class="btn btn-danger"})
                </td>
            </tr>
        }

    </table>
    @*<div class="modal fade" id="partnerModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Partner Information</h2>
                </div>
                <div class="modal-body">
                    <label>Full Name:</label>
                    <h2>@Html.DisplayFor(m => m.FullName)</h2>
                    <label>Partner Number:</label>
                    <h2>@Html.DisplayFor(m => m.PartnerNumber)</h2>
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <a href="#" id="btnCancel" class="btn btn-danger">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

    @section scripts{
        <script>
            var TeamDetailPostBackURL = '/Home/Details';
            $(function () {
                $(".anchorDetail").click(function () {
                    var $buttonClicked = $(this);
                    var id = $buttonClicked.attr('data-id');
                    $.ajax({
                        type: "GET",
                        url: TeamDetailPostBackURL,
                        contentType: "application/json; charset=utf-8",
                        data: { "Id": id },
                        datatype: "json",
                        success: function (data) {
                            $('#myModalContent').html(data);
                            $('#myModal').modal('show');

                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });
            })
        </script>
    }
